.zb-cheng {
	background-color: orange;
	color: white;
}

.zb-zi {
	background-color: purple;
	color: white;
}

.zb-lan {
	background-color: blue;
	color: white;
}

.zb-lv {
	background-color: green;
	color: white;
}